<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start" (click)="goBack()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
    <ion-title>Setup</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="saveSettings()">
        Save
        <ion-icon slot="end"  name="save" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- LOADED -->
<ion-content *ngIf="!isLoading">
  <!-- motor settings -->
    <ion-card>
      <div class="titleContainer">
        <ion-card-header>
          <ion-card-title *ngIf="!testMode">Motor Setting</ion-card-title>
          <ion-card-title *ngIf="testMode">Motor Testing</ion-card-title>
        </ion-card-header>
          <ion-icon *ngIf="selectedMotor != 'none'" slot="end" size="large" name="chevron-up-outline" (click)="closeMotors()"></ion-icon>
      </div>
    
      <ion-card-content>
        <ion-segment [(ngModel)]="selectedMotor">
          <ion-segment-button value="extruder">
            <ion-label>Extruder</ion-label>
          </ion-segment-button>
          <ion-segment-button value="conveyor">
            <ion-label>Conveyor</ion-label>
          </ion-segment-button>
          <ion-segment-button value="syringe">
            <ion-label>Syringe</ion-label>
          </ion-segment-button>
          <ion-segment-button value="all">
            <ion-label>All</ion-label>
          </ion-segment-button>
        </ion-segment>
        
        <!-- SETTINGS -->
        <ion-list *ngIf="selectedMotor === 'extruder'">
          <!-- Setting container -->
          <div *ngIf="!testMode">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Home Direction" placeholder="1 orario 0 antiorario" type="number" [(ngModel)]="settings.motors.extruder.homeDir"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" [(ngModel)]="settings.motors.extruder.stepOneRev"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Microstep" placeholder="Inserisci il numero di microstep" type="number" [(ngModel)]="settings.motors.extruder.microstep"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Travel" placeholder="Inserisci i mm massimi di spostamento" type="number" [(ngModel)]="settings.motors.extruder.maxTravel"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Screw Pitch" placeholder="Inserisci il numero di mm al giro" type="number" [(ngModel)]="settings.motors.extruder.pitch"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number" [(ngModel)]="settings.motors.extruder.maxSpeed"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s²" type="number" [(ngModel)]="settings.motors.extruder.acceleration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Step per mm" placeholder="" type="number" [value]="settings.motors.extruder.stepsPerMm"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Hertz" placeholder="" type="number" [value]="settings.motors.extruder.hertz"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- Testing Container -->
          <div *ngIf="testMode">
            <ion-item>
              <ion-input label="spostamento in mm" placeholder="inserisci uno spostamento" type="number" [(ngModel)]="travels.extruder"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Velocità Corrente:</ion-label>
              <ion-badge color="primary">{{ currentSpeeds.extruder }} mm/s</ion-badge>
            </ion-item>
            <ion-item class="iconContainer">
              <!-- <div class="iconContainer"> -->
                <ion-button size="large" (click)="goHome('extruder')">
                  <ion-icon slot="icon-only" name="home"></ion-icon>
                </ion-button>
                <ion-range disabled="true" [max]="settings.motors.extruder.maxTravel" [value]="positions.extruder" ></ion-range>
                <ion-button size="large" (click)="stopMotors()">
                  <ion-icon  slot="icon-only" name="hand-left"></ion-icon>
                </ion-button>
                <ion-button size="large" (click)="goToPosition('extruder', travels.extruder)">
                  <ion-icon slot="icon-only" name="arrow-forward-circle" ></ion-icon>
                </ion-button>
              <!-- </div> -->
            </ion-item>
          </div>
            <!-- button section -->
          <div class="buttonContainer">
            <ion-button *ngIf="!testMode"  color="secondary" class="ion-margin-top" (click)="changeMode('test')">Test
              <ion-icon slot="end" name="play"></ion-icon>
            </ion-button>
            <ion-button *ngIf="testMode" color="secondary" class="ion-margin-top" (click)="changeMode('edit')">Edit
              <ion-icon slot="end" name="create"></ion-icon>
            </ion-button>
            <ion-button  color="secondary" class="ion-margin-top" (click)="saveSettings()">Save
              <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
        <ion-list *ngIf="selectedMotor === 'conveyor'">
          <!-- setting Container -->
          <div *ngIf="!testMode">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Home Direction" placeholder="1 orario 0 antiorario" type="number" [(ngModel)]="settings.motors.conveyor.homeDir"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" [(ngModel)]="settings.motors.conveyor.stepOneRev"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Microstep" placeholder="Inserisci il numero di microstep" type="number" [(ngModel)]="settings.motors.conveyor.microstep"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Travel" placeholder="Inserisci i mm massimi di spostamento" type="number" [(ngModel)]="settings.motors.conveyor.maxTravel"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Screw Pitch" placeholder="Inserisci il numero di mm al giro" type="number" [(ngModel)]="settings.motors.conveyor.pitch"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number" [(ngModel)]="settings.motors.conveyor.maxSpeed"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s²" type="number" [(ngModel)]="settings.motors.conveyor.acceleration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Step per mm" placeholder="" type="number" [value]="settings.motors.conveyor.stepsPerMm"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Hertz" placeholder="" type="number" [value]="settings.motors.conveyor.hertz"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- Testing Container -->
          <div *ngIf="testMode">
            <ion-item>
              <ion-input label="spostamento in mm" placeholder="inserisci uno spostamento" type="number" [(ngModel)]="travels.conveyor"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Velocità Corrente:</ion-label>
              <ion-badge color="primary">{{ currentSpeeds.conveyor }} mm/s</ion-badge>
            </ion-item>
            <ion-item class="iconContainer">
              <!-- <div class="iconContainer"> -->
                <ion-button size="large"(click)="goHome('conveyor')">
                  <ion-icon slot="icon-only" name="home"></ion-icon>
                </ion-button>
                <ion-range disabled="true" [max]="settings.motors.conveyor.maxTravel" [value]="positions.conveyor" ></ion-range>
                <ion-button size="large" (click)="stopMotors()">
                  <ion-icon  slot="icon-only" name="hand-left"></ion-icon>
                </ion-button>
                <ion-button size="large" (click)="goToPosition('conveyor', travels.conveyor)">
                  <ion-icon slot="icon-only" name="arrow-forward-circle" ></ion-icon>
                </ion-button>
              <!-- </div> -->
            </ion-item>
          </div>
          <!-- button container -->
          <div class="buttonContainer">
            <ion-button *ngIf="!testMode"  color="secondary" class="ion-margin-top" (click)="changeMode('test')">Test
              <ion-icon slot="end" name="play"></ion-icon>
            </ion-button>
            <ion-button *ngIf="testMode" color="secondary" class="ion-margin-top" (click)="changeMode('edit')">Edit
              <ion-icon slot="end" name="create"></ion-icon>
            </ion-button>
            <ion-button  color="secondary" class="ion-margin-top" (click)="saveSettings()">Save
              <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
        <ion-list *ngIf="selectedMotor === 'syringe'">
          <!-- setting container -->
          <div *ngIf="!testMode">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Home Direction" placeholder="1 orario 0 antiorario" type="number" [(ngModel)]="settings.motors.syringe.homeDir"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" [(ngModel)]="settings.motors.syringe.stepOneRev"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Microstep" placeholder="Inserisci il numero di microstep" type="number" [(ngModel)]="settings.motors.syringe.microstep"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Travel" placeholder="Inserisci i mm massimi di spostamento" type="number" [(ngModel)]="settings.motors.syringe.maxTravel"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Screw Pitch" placeholder="Inserisci il numero di mm al giro" type="number" [(ngModel)]="settings.motors.syringe.pitch"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number" [(ngModel)]="settings.motors.syringe.maxSpeed"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-input label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s²" type="number" [(ngModel)]="settings.motors.syringe.acceleration"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Step per mm" placeholder="" type="number" [value]="settings.motors.syringe.stepsPerMm"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-input disabled="true" label="Hertz" placeholder="" type="number" [value]="settings.motors.syringe.hertz"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <!-- Testing Container -->
          <div *ngIf="testMode">
            <ion-item>
              <ion-input label="spostamento in mm" placeholder="inserisci uno spostamento" type="number" [(ngModel)]="travels.syringe"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Velocità Corrente:</ion-label>
              <ion-badge color="primary">{{ currentSpeeds.syringe }} mm/s</ion-badge>
            </ion-item>
            <ion-item class="iconContainer">
                <ion-button size="large" (click)="goHome('syringe')">
                  <ion-icon slot="icon-only" name="home"></ion-icon>
                </ion-button>
                <ion-range disabled="true" [max]="settings.motors.syringe.maxTravel" [value]="positions.syringe" ></ion-range>
                <ion-button size="large" (click)="stopMotors()">
                  <ion-icon  slot="icon-only" name="hand-left"></ion-icon>
                </ion-button>
                <ion-button size="large" (click)="goToPosition('syringe', travels.syringe)">
                  <ion-icon slot="icon-only" name="arrow-forward-circle" ></ion-icon>
                </ion-button>
              <!-- </div> -->
            </ion-item>
          </div>
          <!-- button container -->
          <div class="buttonContainer">
            <ion-button *ngIf="!testMode"  color="secondary" class="ion-margin-top" (click)="changeMode('test')">Test
              <ion-icon slot="end" name="play"></ion-icon>
            </ion-button>
            <ion-button *ngIf="testMode" color="secondary" class="ion-margin-top" (click)="changeMode('edit')">Edit
              <ion-icon slot="end" name="create"></ion-icon>
            </ion-button>
            <ion-button  color="secondary" class="ion-margin-top" (click)="saveSettings()">Save
              <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
        <ion-list *ngIf="selectedMotor === 'all'">
          <ion-item *ngFor="let motor of ['extruder', 'conveyor', 'syringe']">
            <ion-label>{{ motor | titlecase }} </ion-label>
            <ion-input 
              label=" Spostamento in mm" 
              placeholder="Inserisci uno spostamento" 
              type="number" 
              [value]="getTravelValue(motor)" 
              (ionChange)="setTravelValue(motor, $event.detail.value ? +$event.detail.value : 0)">
            </ion-input>
          </ion-item>
          <ion-button 
            expand="block" 
            color="primary" 
            (click)="goToPositionAll(travels.extruder, travels.conveyor, travels.syringe)">
            Invia Tutti i Motori
          </ion-button>
        </ion-list>
        <!-- TEST -->
      </ion-card-content>
    </ion-card>

   <!-- camera settings -->
   <ion-card>
    <ion-card-header>
      <ion-card-title>Camera Setting</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <!-- Min Threshold -->
        <ion-item>
          <ion-icon name="contrast-outline" slot="start"></ion-icon>
          <ion-input [step]="globalGranularity" label="Min Threshold" placeholder="Inserisci il valore di soglia minima" type="number" [(ngModel)]="settings.camera.minThreshold" (ionChange)="onCameraSettingChange()"></ion-input>
          <ion-input [step]="globalGranularity" label="Max Threshold" placeholder="Inserisci il valore di soglia massima" type="number" [(ngModel)]="settings.camera.maxThreshold" (ionChange)="onCameraSettingChange()"></ion-input>
        </ion-item>
  
        <!-- Area Filter -->
        <ion-item>
          <ion-toggle class="ion-padding-end" label="Area Filter" justify="space-between" [(ngModel)]="settings.camera.areaFilter" (ionChange)="onCameraSettingChange()">
            Area Filter
          </ion-toggle>
          <ion-icon name="resize-outline" slot="start"></ion-icon>
          <ion-input [step]="globalGranularity"  [disabled]="!settings.camera.areaFilter" label="Min Area" placeholder="Inserisci il valore di area minimo" type="number" [(ngModel)]="settings.camera.minArea" (ionChange)="onCameraSettingChange()"></ion-input>
          <ion-input [step]="globalGranularity"  [disabled]="!settings.camera.areaFilter" label="Max Area" placeholder="Inserisci il valore di area massimo" type="number" [(ngModel)]="settings.camera.maxArea" (ionChange)="onCameraSettingChange()"></ion-input>
        </ion-item>
  
        <!-- Circularity Filter -->
        <ion-item>
          <ion-toggle class="ion-padding-end" label="Circularity Filter" justify="space-between" [(ngModel)]="settings.camera.circularityFilter" (ionChange)="onCameraSettingChange()">
            Circularity Filter
          </ion-toggle>
          <ion-icon name="ellipse-outline" slot="start"></ion-icon>
          <ion-input [step]="globalGranularity" [disabled]="!settings.camera.circularityFilter" label="Min Circularity" placeholder="Inserisci il valore minimo di circolarità" type="number" [(ngModel)]="settings.camera.minCircularity" (ionChange)="onCameraSettingChange()"></ion-input>
          <ion-input [step]="globalGranularity" [disabled]="!settings.camera.circularityFilter" label="Max Circularity" placeholder="Inserisci il valore massimo di circolarità" type="number" [(ngModel)]="settings.camera.maxCircularity" (ionChange)="onCameraSettingChange()"></ion-input>
        </ion-item>
  
        <!-- Inertia Filter -->
        <ion-item>
          <ion-toggle class="ion-padding-end" label="Inertia Filter" justify="space-between" [(ngModel)]="settings.camera.inertiaFilter" (ionChange)="onCameraSettingChange()">
            Inertia Filter
          </ion-toggle>
          <ion-icon name="speedometer-outline" slot="start"></ion-icon>
          <ion-input [step]="globalGranularity" [disabled]="!settings.camera.inertiaFilter" label="Min Inertia" placeholder="Inserisci il valore minimo di inerzia" type="number" [(ngModel)]="settings.camera.minInertia" (ionChange)="onCameraSettingChange()"></ion-input>
          <ion-input [step]="globalGranularity" [disabled]="!settings.camera.inertiaFilter" label="Max Inertia" placeholder="Inserisci il valore massimo di inerzia" type="number" [(ngModel)]="settings.camera.maxInertia" (ionChange)="onCameraSettingChange()"></ion-input>
        </ion-item>

        <!-- Granularity -->
        <ion-item>
          <ion-label>Granularità</ion-label>
          <ion-segment [(ngModel)]="globalGranularity">
            <ion-segment-button value="10">
              <ion-label>10</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>1</ion-label>
            </ion-segment-button>
            <ion-segment-button value="0.1">
              <ion-label>0.1</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-list>
      <ion-button color="secondary" class="ion-margin-top" (click)="updateCameraSettings()">Aggiorna</ion-button>
      <ion-item>
        <ion-label>Stream:</ion-label>
        <ion-segment [(ngModel)]="selectedStream" (ionChange)="updateStreamUrl()">
          <ion-segment-button value="normal">
            <ion-label>Normale</ion-label>
          </ion-segment-button>
          <ion-segment-button value="threshold">
            <ion-label>Threshold</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <h1>Streaming della Telecamera</h1>
      <img [src]="currentStreamUrl" alt="Camera Feed" (error)="onImageError()" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>LED Control</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="primary" (click)="startWaveEffect()">Wave Effect</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="startGreenLoading()">Green Loading</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="warning" (click)="startYellowBlink()">Yellow Blink</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="startRedStatic()">Red Static</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="medium" (click)="stopEffect()">Stop Effect</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Simulazione</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="startSimulation()">Avvia Simulazione</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- WHILE LOADING -->
<ion-content *ngIf="isLoading">
  <!-- motor settings -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-icon slot="end" name="chevron-up-outline"></ion-icon>
    
      <ion-card-content>
        <ion-segment [(ngModel)]="selectedMotor">
          <ion-segment-button value="extruder">
            <ion-label>Extruder</ion-label>
          </ion-segment-button>
          <ion-segment-button value="conveyor">
            <ion-label>Conveyor</ion-label>
          </ion-segment-button>
          <ion-segment-button value="syringe">
            <ion-label>Syringe</ion-label>
          </ion-segment-button>
        </ion-segment>
        
        <!-- SETTINGS -->
        <ion-list *ngIf="selectedMotor === 'extruder'">
          <ion-item *ngIf="!testMode">
            <ion-input  label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!testMode">
            <ion-input  label="Microstep" placeholder="Inserisci il numero di microstep" type="number" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!testMode" >
            <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!testMode" >
            <ion-input  label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s^2" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!testMode" >
            <ion-input  label="Deceleration" placeholder="Inserisci la decelerazione in mm/s^2" ></ion-input>
          </ion-item>
          <div class="buttonContainer">
            <ion-button color="secondary" class="ion-margin-top" (click)="changeMode('test')">Test
              <ion-icon slot="end" name="play"></ion-icon>
            </ion-button>
            <ion-button  color="secondary" class="ion-margin-top">Save
              <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
          </div>
        </ion-list>

        <ion-list *ngIf="selectedMotor === 'conveyor'">
          <ion-item >
            <ion-input label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Microstep" placeholder="Inserisci il numero di microstep" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s^2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Deceleration" placeholder="Inserisci la decelerazione in mm/s^2" ></ion-input>
          </ion-item>
          <ion-button expand="block" color="secondary" class="ion-margin-top">Test</ion-button>
        </ion-list>

        <ion-list *ngIf="selectedMotor === 'syringe'">
          <ion-item >
            <ion-input label="Passi/giro" placeholder="Inserisci il numero di passi per fare un giro" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Microstep" placeholder="Inserisci il numero di microstep" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Max Speed" placeholder="Inserisci la velocità in mm/s" type="number"  ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Acceleration" placeholder="Inserisci l'accelerazione in mm/s^2"  ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Deceleration" placeholder="Inserisci la decelerazione in mm/s^2"></ion-input>
          </ion-item>
          <ion-button expand="block" color="secondary" class="ion-margin-top">Test</ion-button>
        </ion-list>
        <!-- TEST -->
      </ion-card-content>
    </ion-card>

   <!-- camera settings -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Camera Setting</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
    
        <ion-list>
          <ion-item >
            <ion-input label="Min Threshold" placeholder="Inserisci il valore di soglia minima" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Max Threshold" placeholder="Inserisci il valore di soglia minima" type="number" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle label="Area Filter" placeholder="Inserisci la velocità in mm/s" type="number"></ion-toggle>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
</ion-content>