backend/aviogelMotor/__pycache__
backend/piLed/__pycache__
backend/piCamera/__pycache__
backend/backend/__pycache__
backend/requirments.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

*.pyc
__pycache__/
backend/config/setup.json
backend/aviogelMotor/motorLog.log
backend/calibrationMedia/*.jpg
backend/calibrationMedia

nohup.out