<ion-content>
  <div class="page-container">
    <div class="slider-section">
      <h1>Fase Preliminare</h1>
    </div>
    <div class="progress-container">
      <!-- Linea di progresso -->
      <div class="progress-bar">
        <div class="progress-line" [style.width.%]="(currentStep / (steps.length - 1)) * 100"></div>
      </div>
  
      <!-- Step -->
      <div class="steps-container">
        <div *ngFor="let step of steps; let i = index" class="step"
             [class.completed]="i <= currentStep">
          {{ i + 1 }}
        </div>
      </div>
    </div>
  
    <div class="index">
      <ion-card class="instruction" *ngIf="currentStep==1-1">
        <img  src="../../assets/icon/visual-inspection-icon.png" alt="visual inspection" style="flex-grow: 4;">
        <p> Assicurati di aver <b>ispezionato visivamente</b> il macchinario e che non ci siano impedimenti al processo</p>
      </ion-card>
      
      <ion-card class="instruction" *ngIf="currentStep==2-1">
        <img  src="../../assets/icon/chemical-reactor-icon.png" alt="Chemical Reactor" style="flex-grow: 4;">
        <p> Inserisci il <b>Reattore</b> nel proprio alloggio e assicurati di collegarlo correttamente al macchinario.</p>
      </ion-card>
      
      <ion-card class="instruction" *ngIf="currentStep==3-1">
        <img src="../../assets/icon/bucket-icon.png" alt="Chemical Reactor" style="flex-grow: 4;">
        <p > Inserisci un <b>contenitore</b> al di sotto dell'ugello per non far andare il prodotto sul tappeto quando uscirà dall'ugello.</p>
      </ion-card>
      <ion-card class="instruction" *ngIf="currentStep==4-1" style="flex-grow: 3;">
        <img src="../../assets/icon/extruder-icon.png" alt="Chemical Reactor">
        <p > Premere il pulsante <b>qui affianco</b> per avviare il processo di riempimento del condotto dell'ugello.</p>
      </ion-card>
      <ion-card class="instruction" *ngIf="currentStep==4-1" style="flex-shrink: 3; margin-left: 10px;" >
        <img *ngIf="extruderBool==false" src="../../assets/icon/play-button-icon.png" alt="start"(click)="extruderToggle('play')">
        <img *ngIf="extruderBool==true" src="../../assets/icon/pause-button-icon.png" alt="pause" (click)="extruderToggle('pause')">
      </ion-card>
    </div>
    <!-- Pulsanti di controllo -->
    <div class="buttons-container">
      <ion-button color="medium" (click)="prevStep()" [disabled]="currentStep === 0">Indietro</ion-button>
      <ion-button color="primary" (click)="nextStep()" [disabled]="currentStep === steps.length - 1">Avanti</ion-button>
    </div>
  </div>
</ion-content>
