<ion-content>
  <div class="home-container">
    <div class="slider-section">
      <h1 (click)="enterSetup()">Who are you?</h1>
    </div>
    <div class="swiperWrapper">
      <!-- Mostra le card di caricamento se isLoading è true -->
      <div class="swiperCard" *ngIf="isLoading">
        <ion-card>
          <div class="card-background">
            <ion-avatar>
              <!-- Skeleton circolare per l'avatar -->
              <ion-skeleton-text [animated]="true" class="skeleton-avatar"></ion-skeleton-text>
            </ion-avatar>
          </div>
          <ion-card-header>
            <div class="card-footer">
              <!-- Skeleton per il nome -->
              <ion-skeleton-text [animated]="true" class="skeleton-name"></ion-skeleton-text>
            </div>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="swiperCard" *ngIf="isLoading">
        <ion-card>
          <div class="card-background">
            <ion-avatar>
              <!-- Skeleton circolare per l'avatar -->
              <ion-skeleton-text [animated]="true" class="skeleton-avatar"></ion-skeleton-text>
            </ion-avatar>
          </div>
          <ion-card-header>
            <div class="card-footer">
              <!-- Skeleton per il nome -->
              <ion-skeleton-text [animated]="true" class="skeleton-name"></ion-skeleton-text>
            </div>
          </ion-card-header>
        </ion-card>
      </div>

      <!-- Mostra le card degli utenti quando i dati sono disponibili -->
      <div class="swiperCard" *ngFor="let user of users">
        <ion-card (click)="navigateNextPage(user)">
          <div class="card-background">
            <ion-avatar>
              <img [src]="user.avatar_url">
            </ion-avatar>
          </div>
          <ion-card-header>
            <div class="card-footer">
              <h2>{{user.name}}</h2>
            </div>
          </ion-card-header>
        </ion-card>
      </div>

      <!-- Card per aggiungere un nuovo utente -->
      <div class="swiperCard">
        <ion-card id="open-modal">
          <div class="card-background">
            <ion-icon name="add-circle-outline" slot="center" size="large"></ion-icon>
          </div>
          <ion-card-header>
            <div class="card-footer"> 
              <h2> Add User </h2> 
            </div>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>