<ion-content>
  <div class="home-container">
    <div class="slider-section">
      <h1 (click)="enterSetup()">Who are you?</h1>
    </div>
    <div class="swiperWrapper">
      <!-- Card per ogni utente -->
      <div class="swiperCard" *ngFor="let user of users">
        <ion-card (click)="navigateNextPage(user)">
          <div class="card-background">
            <ion-avatar>
              <img [src]="user.avatar_url">
            </ion-avatar>
          </div>
          <ion-card-header>
            <div class="card-footer">
              <h2>{{user.name}}</h2>
            </div>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="swiperCard">
        <ion-card  id="open-modal">
          <div class="card-background">
            <ion-icon name="add-circle-outline" slot="center" size="large"></ion-icon>
          </div>
          <ion-card-header>
            <div class="card-footer"> 
              <h2> Add User </h2> 
            </div>
          </ion-card-header>
        </ion-card>
        <ion-modal #modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-toolbar>
                <ion-title>Add user</ion-title>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-list class="ion-padding">
                  <ion-input placeholder="Nome" [(ngModel)]="newUserData.name"></ion-input>
                  <ion-select label="Genere" label-placement="floating" [(ngModel)]="newUserData.gender">
                    <ion-select-option value="male">Maschio</ion-select-option>
                    <ion-select-option value="female">Femmina</ion-select-option>
                    <ion-select-option value="other">other</ion-select-option>
                  </ion-select>
                  <ion-toggle [(ngModel)]="newUserData.isExpert">Expert User</ion-toggle>

                  <ion-button expand="block" class="ion-padding-vertical" (click)="addUser(newUserData.name, newUserData.gender, newUserData.isExpert)"> Aggiungi </ion-button>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
  </div>
  </div>
 
</ion-content>