/* *** MODIFICA: Aggiornati gli stili ***
  Ora abbiamo un wrapper per il click
*/

.input-wrapper {
  cursor: pointer; // Mostra che è cliccabile

  /* Se disabilitato, cambia cursore e aspetto */
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5; // Stile standard per disabilitato
  }
}

/*
  Rendiamo l'input "trasparente" ai click (pointer-events: none).
  Questo assicura che sia sempre il .input-wrapper a ricevere l'evento (click).
*/
.custom-keyboard-input-inner {
  pointer-events: none;
}
