
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Simulazione Camera & Omografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visualizzazione coordinate e percorso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="isCameraInit" #cameraImg [src]="streamUrl" [width]="imgWidth" [height]="imgHeight" alt="Camera Stream" />
      <img [src]="graphUrl" alt="Coordinate Plot" [width]="imgWidth" [height]="imgHeight"/>

      <ion-button (click)="getRealCoordinates()" expand="full" color="primary">
        Get Coordinate
      </ion-button>
      <ion-button (click)="viewRoute()">View Route</ion-button>
      <ion-button (click)="executeRoute()">Execute filling</ion-button>
      <ion-list>
        <ion-item *ngFor="let coordinate of coordinates">
          <ion-label>
            Coordinate: {{ coordinate[0] }}, {{ coordinate[1] }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
