<ion-header>
  <ion-toolbar>
    <ion-title>Lista Utenti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal-scroll">
    <!-- Card per ogni utente -->
    <ion-card *ngFor="let user of users">
      <ion-img [src]="user.avatar_url"></ion-img>
      <ion-card-header>
        <ion-title>{{ user.name }}</ion-title>
      </ion-card-header>
    </ion-card>

    <!-- Card per aggiungere un nuovo utente -->
    <ion-card (click)="openAddUserModal()">
      <ion-content class="ion-text-center">
        <ion-icon name="add-circle-outline" size="large"></ion-icon>
        <p>Aggiungi Utente</p>
      </ion-content>
    </ion-card>
  </div>
</ion-content>