<ion-content>
  <div class="home-container">
    <div class="slider-section">
      <h1>Chi userà il macchinario?</h1>
    </div>
    <div class="swiperWrapper">
      <!-- Card per ogni utente -->
      <div class="swiperCard" *ngFor="let user of users">
        <ion-card>
          <div class="card-background">
            <ion-avatar>
              <img [src]="user.avatar_url">
            </ion-avatar>
          </div>
          <ion-card-header>
            <div class="card-footer">
              <h2>{{user.name}}</h2>
            </div>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="swiperCard">
        <ion-card  (click)="openAddUserModal()">
          <div class="card-background">
            <ion-icon name="add-circle-outline" slot="center" size="large"></ion-icon>
          </div>
          <ion-card-header>
            <div class="card-footer"> 
              <h2> Aggiugni Utente </h2> 
            </div>
          </ion-card-header>
        </ion-card>
      </div>
  </div>
  </div>
 
</ion-content>